<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/layout.css" />
    <title>{% block title %}Boltzmann{% endblock %}</title>
    {% block header %}{% endblock %}
  </head>
  <body>
    <header>
      {% block gadgets %}{% endblock %}
      <h1><a href="{{ url_for('sessions.index') }}">Boltzmann</a></h1>
    </header>
    <content>{% block content %}{% endblock %}</content>
    <div id="screen" class="hidden"></div>
    <div id="modals">
{% block modals %}{% endblock %}
    </div>
  </body>
</html>
